:root {
  --active-color: #1A8CD8;
  --inactive--color: #0E4D77;
  --light: #FAFAFA;
  --dark: #444;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  gap: 1rem;
}

a {
  color: var(--light);
}

#header {
  padding: 1.5rem 1rem;
  color: var(--light);
  background-color: var(--dark);
}

#header h1 {
  font-weight: bold;
  font-size: x-large;
}

#main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: calc(100% - 2rem);
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

#select-margin-size header {
  padding-bottom: .5rem;
}

#margin-size-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
}

#margin-size-list li {
  width: calc(25% - 1rem);
}

button {
  width: 100%;
  padding: .6rem;
  background-color: var(--inactive--color);
  border-style: none;
  color: var(--light);
}

button.active {
  background-color: var(--active-color) !important;
}

#canvas-wrap {
  position: relative;
  padding: 0;
  box-sizing: content-box;
  aspect-ratio: 1 / 1;
}

#canvas {
  position: absolute;
  left: 0;
  top: 0;
  border: 0;
  max-width: 100%;
  box-sizing: content-box;
  padding: 0;
  margin: 0;
  border: #333 1px solid;
}

#footer {
  color: var(--light);
  background-color: var(--dark);
  margin-top: auto;
  padding: 1rem;
}

#footer .copy {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#footer .sns-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
